<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="callSettersOnNulls" value="true"/> <!-- 값이 null이라도 스킵하지말고 값을 저장해라 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
        <mapper resource="mapper/user_query.xml" />
        <mapper resource="mapper/shel_query.xml" />
        <mapper resource="mapper/miss_query.xml" />
        <mapper resource="mapper/comment_query.xml" />   
		<mapper resource="mapper/missmatch_query.xml" />
		<mapper resource="mapper/dataset_query.xml" />
        <mapper resource="mapper/S3_query.xml" />
        <mapper resource="mapper/Analysis_query.xml" />

    </mappers>

</configuration>